/postgres_scripts/PostSQLLoader/PostSQLLoader/Settings.txt
/postgres_scripts/PostSQLLoader/PostSQLLoader/out.txt
/postgres_scripts/PostSQLLoader/out — копия.txt
/postgres_scripts/PostSQLLoader/expertdata — копия.txt
/postgres_scripts/PostSQLLoader/collapsed_data.txt
/postgres_scripts/PostSQLLoader/out2.txt